.du-menu-toggle{
	color: #fff;
	background-color: #f974bd;
	width: 74px;
	line-height: 74px;
	font-size: 24px;
	text-align: center;
}

@media (min-width: 480px){
	.du-logo .logo-small{
		display: none;
	}
}
@media(max-width: 481px){
	.du-logo .logo-big{
		display: none;
	}
	.du-header .ba-container{
		padding-left: 0px;
	}
	.offer .ba-row{
		padding: 45px 0;
	}
	footer input[type="text"]{
		width: 95%;
	}
	footer button{
		position: absolute;
		right: 6%;
	}
	.du-footer-subscribe{
		width: auto;
	}
	.du-thumbnail:hover .du-rating-wrap-thumbnail{
		transform: translateY(100%);
		opacity: 0;
	}
	footer .ba-grid{
		text-align: center;
	}
	footer h3{
		margin-bottom: 15px;
	}
}

@media (min-width: 1220px){

}

@media (min-width: 960px){
	.du-menu-toggle{
		display: none;
	}
}
@media (max-width: 959px){
	.du-header{
		background: #fff;
	}
	.du-menu,
	.du-menu-overlay{
		/*visibility: hidden;*/
		position: fixed;
		top: 75px;
		bottom: 0;
		-webkit-transition: transform .4s, right .4s;
		-moz-transition: transform .4s, right .4s;
		transition: transform .4s, right .4s;
	}
	.du-menu{
		right: 0;
		width: 242px;
		background-color: #172b37;
		z-index: 999999;
		padding: 20px;
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		transform: translateX(100%);
	}
	.du-menu-overlay{
		right: 100%;
		left: 0;
		bottom: 0;
		background: rgba(255, 255, 255, .8);
		z-index: 998;
	}
	.du-menu-open{
		overflow: hidden;
	}
	.du-menu-open .du-menu,
	.du-menu-open .du-menu-overlay{
		/*visibility: visible;*/
	}
	.du-menu-open .du-menu-overlay{
		right: 0;
	}
	.du-menu-open .du-menu{
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		transform: translateX(0);
	}
	.du-menu li{
	float: none;
	}
	.du-menu a{
	line-height: 1.3;
	height: auto;
	padding: 0 0 20px;
	}
	.du-menu a:hover{
	color: #E94E38;
	}
	.du-menu-open .du-menu-toggle{
		background: #172b37;
	}
	.du-login{
		margin-right: -20px;
	}
	.du-login span{
		display: none;
	}
	.du-filter-row .du-filter-items,
	.du-filter-row .du-filter-type,
	.du-filter-row .du-filter-location{
		text-align: center;
		height: auto;
		line-height: normal;
		padding: 10px 0;
	}
	.container-items{
		width: auto;
	}
	.du-item-row .ba-grid + .ba-grid{
		margin-top: 0px;
	}
	.du-item-row .ba-grid>[class*="ba-width"]{
		margin-bottom: 30px;
	}
	.du-filter-type-big{
		margin-bottom: 150px;
	}
}

@media (min-width: 822px){
	
}
@media (max-width: 821px){
	.du-filter-type-music .radio-big::after{
		opacity: 0;
	}
}
@media (min-width: 768px){

}
@media (max-width: 708px){
	.du-filter-type-education .radio-big::after{
		opacity: 0;
	}
	.du-filter-type-music .radio-big::after{
		opacity: 1;
	}
}
@media (min-width: 709px){
	
}

@media (max-width: 535px){
	.du-filter-type-education .radio-big::after{
		opacity: 1;
	}
	.du-filter-type-people .radio-big::after{
		opacity: 0;
	}
}
@media (max-width: 476px){
	.offer p{
		margin-bottom: 15px;
	}
	.du-filter-type-big{
		margin-bottom: 10px;
		height: auto;
	}
	.du-filter-type-big span{
		transform: scale(0.5);
		margin: -5px 0 0 0;
		position: absolute;
	}
	.du-filter-type-big .radio-big{
		width: 38px;
		height: 38px;
	}
	.du-filter-type-big label{
		margin-right: 10px;
	}
	.du-filter-type-big .radio-big::after{
		display: none;
	}
	.du-filter-type-big .du-filter-type-education span,
	.du-filter-type-big .du-filter-type-travel span,
	.du-filter-type-big .du-filter-type-music span,
	.du-filter-type-big .du-filter-type-rent span{
		left:-6px;
		top: 2px;
	}
	.du-filter-type-big .du-filter-type-music span{
		left:-4px;
	}
	.du-filter-type-big .du-filter-type-travel span{
		left:-2px;
	}
}